# INTEGERS : Pada Python3, secara efektif tidak ada batasan berapa banyak nilai integer.

In [2]:
print(123123123123123123123123123123+1)

123123123123123123123123123124

In [3]:
print(10)
print(type(10))

10
<class 'int'>

FLOATING-POINT NUMBERS : menunjukkan bilangan floating-point

In [4]:
print(4.2)
print(type(4.2))

print(4.)

print(2.)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
2.0
4000000.0
0.00042

STRINGS : urutan data karakter (str)

In [5]:
print("Hacktiv8")
print(type("Hacktiv8"))

print('') #boleh kosong

print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

Hacktiv8
<class 'str'>

This string contains a single quote (') character.
This string contains a double quote (") character.

BOOLEAN TYPE, BOOLEAN CONTEXT, AND "TRUTHINESS"

In [6]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

VARIABEL ASSIGNMENT : pada python variabel tidak perlu dideklarasikan atau didefenisikan sebelumnya yang dilakukan dengan satu tanda sama dengan (=)

In [7]:
n=1000
print(n)
n

a=b=c=300
a,b,c

1000

(300, 300, 300)

VARIABEL TYPES IN PYTHON : pada python variabel dapat diberi value dari satu jenis dan kemudian diberi value dari jenis berbeda.

In [8]:
var=23.5
print(var)
var="Now I'm a string"
print(var)

23.5
Now I'm a string

VARIABEL NAMES : bisa terdiri dari (A-Z, a-z), digit (0-9), dan karakter garis bawah (_) karakter pertama tidak boleh digit, tidak boleh dimulai dengan angka

In [9]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, 
      Age, 
      has_laptops)

Hacktiv8 54 True

In [10]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

In [11]:
age =1
Age =2
aGe =3
AGE =4
a_g_e = 5
_age =6
age_ =7
_AGE_ =8

print (age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## OPERATORS AND EXPRESSIONS IN PYTHON
operators adalah simbol khusus yang menunjukkan bahwa suatu jenis komputasi harus dilakukan. Nilai yang ditindaklanjuti oleh operators disebut operands.

In [12]:
a = 10
b = 20
a+b-5

25

### ARITHMETIC OPERATORS

In [13]:
#Here are some examples of these operators in use :

a = 4
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

In [14]:
#The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:
10/5

2.0

### COMPARISON OPERATORS

In [15]:
# Here are examples of the comparison operators in use:

a = 10
b = 20
print(a==b)

print(a!=b)

print(a<=b)

print(a>=b)


a = 30
b = 30
print(a==b)

print(a<=b)

print(a>=b)

False
True
True
False
True
True
True

### STRING MANIPULATION

In [16]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s+t)

print(s+t+u)

print('Hactiv8' + 'PTP')

foobar
foobarbaz
Hactiv8PTP

In [17]:
# * Operators

s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [18]:
# in Operators

s = 'foo'

print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [19]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

#Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

### PYTHON LISTS
list adalah kumpulan objek yang arbitrary. list didefenisikan dalam python dengan menyertakan sequence object yang dipisahkan koma dalam tanda kurung siku ([]).

In [20]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

### LIST ARE ORDERED
List bukan hanya kumpulan object. List adalah kumpulan dari object yang berurutan. Urutan elemen ketika kalian membuat list akan bertahan selama List tersebut ada.

List yang memiliki elemen yang sama dalam urutan yang berbeda, tidak sama:

In [22]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

### Lists Can Contain Arbitrary Objects

Sebuah List dapat berisi bermacam-macam objek. Element dari List semuanya bisa berjenis sama:

In [23]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### List Elements Can Be Accessed by Index

Elemen individual dalam List dapat diakses menggunakan indeks dalam tanda kurung siku. Ini sama persis dengan mengakses karakter individu dalam sebuah string. Pengindeksan List berbasis nol seperti halnya dengan string.

In [24]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [25]:
print(a[0])
print(a[5])

foo
corge

Hampir semua hal tentang pengindeksan string berfungsi serupa untuk list. Misalnya, indeks listnegatif dihitung dari akhir list:

In [27]:
print(a[-1])
print(a[-6])

corge
foo

Slicing juga bisa digunakan. Jika a adalah list, ekspresi a[m:n] mengembalikan porsi a dari indeks m ke n, tetapi tidak termasuk, indeks n:

In [28]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [29]:
# The concatenation (+) and replication (*) operators:%0D%0A%0D%0Aprint(a)
print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [30]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### Modifying a Single List Value

In [31]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [32]:
# A list item can be deleted with the del command:

del a[3]

In [33]:
print(a)

['foo', 'bar', 10, 'quux', 20]

### Modifying Multiple List Values

In [34]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Python Tuples
kumpulan objek yang berurutan, disebut tuple.

### Defining and Using Tuples
Tuples identik dengan list dalam segala hal, kecuali untuk properti berikut:

Tuples didefinisikan dengan mengapit elemen dalam tanda kurung (()) daripada tanda kurung siku ([]). Tuples tidak bisa diubah. Berikut adalah contoh singkat yang menunjukkan pendeklarasian tuple, pengindeksan, dan slicing:

In [35]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [36]:
print(t[0])

print(t[-1])

foo
corge

In [37]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

## Python Dictionary

### Defining a Dictionary

Dictionaries adalah implementasi Python dari struktur data yang lebih dikenal sebagai associative array. Dictionaries terdiri dari key-value pairs. Setiap key-value pairs memetakan key ke value yang terkait.

In [38]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

### Accessing Dictionary Values

In [39]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [40]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [41]:
# If you want to update an entry, you can just assign a new value to an existing key:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [42]:
# To delete an entry, use the del statement, specifying the key to delete:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### Building a Dictionary Incrementally

Mendefinisikan dictionary menggunakan tanda kurung kurawal dan key-value pairs

In [43]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [44]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [45]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [46]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [47]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [48]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [49]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [50]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True